body{
    background-color: rgba(116, 164, 236, 0.842);
}
h1{
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
    color: beige;
    text-align: center;
}
p{
    font-size: 60;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:beige;
    text-align: right;
}